body {
    background-color: #f4f4f4;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#video {
    max-height: 300px;
}

#thumbnails img {
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100px;
    height: auto;
}

#thumbnail-canvas {
    display: none;
}
